<h1>Notes ({{count}})</h1>

{{#link-to "notes.new"}}Create a new note{{/link-to}}

<br/>

<ul class="notes-list">
  {{#each model as |note|}}
    <li>
    {{#link-to "notes.show" note}}
      {{note.title}}
    {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
